.about {
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    var(--primary-color) 8rem
  );
  overflow: hidden;
}

.about__container {
  padding-top: 0;
  display: grid;
  gap: 5rem 2rem;
  overflow: hidden;
}

.about__image {
  img {
    display: block;
    width: 100%;
    max-width: 400px;
    height: auto;
    margin-inline: auto;
    border-radius: 5px;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.4);
  }
}

.about__content {
  &-1 .section__subheader::after { content: "01"; }
  &-2 .section__subheader::after { content: "02"; }
  &-3 .section__subheader::after { content: "03"; }

  p {
    margin-bottom: 1.5rem;
    color: var(--text-light);
  }

  a {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--secondary-color);

    span {
      transition: 0.3s;
    }

    &:hover span {
      transform: translateX(10px);
    }
  }
}

@media (width > 768px) {
  .about__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 10rem 2rem;
  }

  .about__image-1 {
    grid-area: 1/2/2/3;
  }

  .about__image-3 {
    grid-area: 3/2/4/3;
  }

  .about__content {
    margin-left: 6rem;
  }
}
