<section class="about">
  <div class="section__container about__container">

    <div class="about__image about__image-1" id="about" appScrollReveal srOrigin="right">
      <img src="assets/images/about1.jpg" alt="Nível de experiência de mergulho"
           loading="lazy" decoding="async" />
    </div>
    <div class="about__content about__content-1">
      <p class="section__subheader" appScrollReveal [srDelay]="500">PRIMEIRO PASSO</p>
      <h2 class="section__header" appScrollReveal [srDelay]="1000">Qual o seu nível de experiência?</h2>
      <p appScrollReveal [srDelay]="1500">
        Quer você seja um novato em busca de lindos corais e animais exóticos ou um mergulhador
        experiente que deseja cavernas ou profundidades desafiadoras, selecionamos uma grande
        variedade de pontos de mergulho para atender a todos os aventureiros!
      </p>
      <div class="about__btn" appScrollReveal [srDelay]="2000">
        <a href="#">Saiba mais <span><i class="ri-arrow-right-line"></i></span></a>
      </div>
    </div>

    <div class="about__image about__image-2" id="equipment" appScrollReveal srOrigin="left">
      <img src="assets/images/about2.jpg" alt="Equipamento de mergulho"
           loading="lazy" decoding="async" />
    </div>
    <div class="about__content about__content-2">
      <p class="section__subheader" appScrollReveal [srDelay]="500">ESSENCIAL PARA O MERGULHO</p>
      <h2 class="section__header" appScrollReveal [srDelay]="1000">Escolha o equipamento de mergulho certo!</h2>
      <p appScrollReveal [srDelay]="1500">
        Cada mergulhador tem diferentes necessidades e preferências, mas existem alguns equipamentos
        de mergulho que são certamente mais importantes para possuir do que outros. Portanto, é
        importante verificar e usar corretamente todos os equipamentos necessários para o tipo de
        mergulho que você irá praticar!
      </p>
      <div class="about__btn" appScrollReveal [srDelay]="2000">
        <a href="#">Saiba mais <span><i class="ri-arrow-right-line"></i></span></a>
      </div>
    </div>

    <div class="about__image about__image-3" id="blog" appScrollReveal srOrigin="right">
      <img src="assets/images/about3.jpg" alt="Ponto de mergulho"
           loading="lazy" decoding="async" />
    </div>
    <div class="about__content about__content-3">
      <p class="section__subheader" appScrollReveal [srDelay]="500">O LOCAL É A CHAVE</p>
      <h2 class="section__header" appScrollReveal [srDelay]="1000">Escolha bem o ponto de mergulho!</h2>
      <p appScrollReveal [srDelay]="1500">
        Cada ponto de mergulho atende necessidades diferentes, logo, é crucial escolhê-lo com muita
        atenção e cautela. Para mergulhadores iniciantes, por exemplo, recomendamos pontos de até
        12 metros de profundidade, enquanto que para mergulhadores profissionais, pontos de até 18
        metros são mais indicados.<br>
        Além disso, o local e a profundidade implicam diretamente no tipo de equipamento e
        experiência necessária para realizar o mergulho com segurança.
      </p>
      <div class="about__btn" appScrollReveal [srDelay]="2000">
        <a href="#">Saiba mais <span><i class="ri-arrow-right-line"></i></span></a>
      </div>
    </div>

  </div>
</section>
